@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url('download.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  width: 60%; /* Adjust text width */
  padding: 20px;
  overflow-y: auto; 
  color: white;
}
.text h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h4 {
  font-weight: 650;
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 20px;
}
.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.text h2 a{
    color:aquamarine
}
@media only screen and (max-width: 768px) {
.text {
    width: 90%; /* Adjust text width to fit smaller screens */
    padding: 10px; /* Adjust padding for better spacing on smaller screens */
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .text h2 {
    font-size: 20px; /* Decrease font size for smaller screens */
    margin-bottom: 8px; /* Adjust margins for better spacing on smaller screens */
  }
  
  .text h4 {
    font-size: 14px; /* Decrease font size for smaller screens */
    margin-top: 20px; /* Adjust margins for better spacing on smaller screens */
    margin-bottom: 15px; /* Adjust margins for better spacing on smaller screens */
  }
  
  .text p {
    font-size: 16px; /* Decrease font size for smaller screens */
    line-height: 22px; /* Adjust line height for better readability on smaller screens */
  }
}
